<div class="mb-2 d-flex col-12 align-items-center px-2 back" [id]="'variable-' + index">
    <div *ngIf="!isHidden" class="col-lg-9 d-flex justify-content-start">
        <p class="mb-0" [id]="'variable-cod-' + index" tabindex="0">
            <span *ngIf="variable.type == 'INTEGER'">inteiro </span>
            <span *ngIf="variable.type == 'DOUBLE'">real </span>
            <span *ngIf="variable.type == 'STRING'">texto </span>
            <span *ngIf="variable.type == 'BOOLEAN'">lógico </span>
            <span>{{variable.name}}</span>
            <span aria-hidden="true">&lsaquo;-</span>
            <span class="sr-only" tabindex="0">recebe</span>
            <span>{{variable.value}};</span>
        </p>
    </div>

    <div *ngIf="isHidden" class="row p-2 variable-item col-lg-9">
        <div class="col-xl-3 col-lg-3 col-md-3">
            <select [id]="'variable-type-' + index" name="tipo" class="form-control" title="Tipo da variável" #input
                (change)="changeType($event)" [(ngModel)]="variable.type">
                <option value="INTEGER">inteiro</option>
                <option value="DOUBLE">real</option>
                <option value="STRING">texto</option>
                <option value="BOOLEAN">lógico</option>
            </select>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-xs-12">
            <input type="text" class="form-control" title="nome da variável" [(ngModel)]="variable.name">
        </div>

        <div class="col-xl-1 col-lg-2 col-md-2 col-xs-12 d-flex align-items-center">
            <label for="receive" tabindex="0" title="Recebe">recebe</label>
        </div>

        <div class="col-xl-3 col-lg-3 col-xs-12 col-md-3"
            *ngIf="variable.type == 'INTEGER' || variable.type == 'DOUBLE'">
            <input type="number" class="form-control" id="value" title="Valor da variável" [(ngModel)]="variable.value">
        </div>

        <div class="col-xl-3 col-lg-3 col-xs-12 col-md-3" *ngIf="variable.type == 'STRING'">
            <input type="text" class="form-control" id="value" title="Valor da variável" [(ngModel)]="variable.value">
        </div>

        <div class="col-xl-3 col-lg-3 col-xs-12 col-md-3" *ngIf="variable.type == 'BOOLEAN'">
            <select name="tipo" class="form-control" title="Tipo da variável" [(ngModel)]="variable.value">
                <option [ngValue]="'verdadeiro'">verdadeiro</option>
                <option [ngValue]="'falso'">falso</option>
            </select>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="d-flex justify-content-end">
            <button class="btn btn-transparent" *ngIf="hasToggle" (click)="toggleHidden()">
                <span *ngIf="isHidden" class="bi bi-unlock-fill" title="Ler código"></span>
                <span *ngIf="!isHidden" class="bi bi-lock-fill" title="Editar código"></span>
            </button>

            <button class="btn btn-transparent text-danger pr-2" (click)="removeVariable()"
                title="Excluir variável"><span aria-hidden="true">X</span></button>

            <app-command-button *ngIf="hasToggle" [mode]="'inline'" [text]="false" [title]="'Comandos'" [components]="components"
                [variables]="variables"></app-command-button>
        </div>
    </div>
</div>