<div class="mb-2 d-flex col-12 align-items-center px-4 py-2 back">
    <div *ngIf="!isHidden" class="col-lg-10 d-flex justify-content-start">
        <p class="mb-0" [id]="'writer-cod-' + index" tabindex="0">
            <span>Escreve</span>
            &lsaquo;-
            <span>{{writer.value}};</span>
        </p>
    </div>

    <div *ngIf="isHidden" class="col-lg-10 d-flex justify-content-start">
        <div class="col-xl-1 col-lg-2 col-md-2 col-xs-12 d-flex align-items-center">
            <label for="receive" tabindex="0" title="Recebe">Escreve</label>
        </div>

        <select [id]="'write-type-' + index" [(ngModel)]="writer.type" (change)="changeType()" class="form-select">
            <option [ngValue]="''" disabled *ngIf="writer.type ==''">Selecione</option>
            <option [ngValue]="'VARIABLE'">Variável</option>
            <option [ngValue]="'TEXT'">Texto</option>
        </select>

        <select [(ngModel)]="writer.value" *ngIf="writer.type == 'VARIABLE'" class="ml-2 form-select">
            <option *ngIf="variables.length && writer.value==''" disabled [ngValue]="''">Selecione a variável</option>
            <option *ngFor="let v of variables" [ngValue]="v.value.name">{{v.value.name}}</option>
            <option *ngIf="!variables.length && writer.value==''" disabled [ngValue]="''">Ainda não existem variáveis
                criadas!</option>
        </select>

        <input class="form-select" [(ngModel)]="writer.value" *ngIf="writer.type == 'TEXT'" type="text"
            placeholder="Digite o texto a ser imprimido" />
    </div>

    <div class="col-lg-2">
        <div class="d-flex justify-content-end">
            <button class="btn btn-transparent" (click)="toggleHidden()">
                <span *ngIf="isHidden" class="bi bi-lock-fill" title="Visualizar código"></span>
                <span *ngIf="!isHidden" class="bi bi-unlock-fill" title="Editar código"></span>

            </button>
            <button class="btn btn-transparent text-danger pr-2" (click)="removeWriter()" title="Excluir variável"><span
                    aria-hidden="true">X</span></button>
        </div>
    </div>
</div>