.inline {
    button {
        background-color: transparent !important;
        border: none;
    }
    .bi-text-left::before{
        color: black !important;
    }
    .dropdown-toggle::after{
        color: black;
    }
}