<div class="mb-2 col-lg-12 px-1 back">
    <div class="row py-2 px-4 content">
        <div *ngIf="!isHidden" class="col-lg-10 d-flex justify-content-start">
            <p class="mb-0" [id]="'operator-cod-'+ index" tabindex="0">
                <span>{{operator.name}}</span>
                &lsaquo;-
                <span>{{operator.value}};</span>
            </p>
        </div>

        <div *ngIf="isHidden" class="col-lg-10 operator">
      
            <div class="d-flex justify-content-center align-items-center">
                <select [id]="'select-var-' + index" [(ngModel)]="operator.name" class="ml-2 col form-select" (change)="changeVariable()">
                    <option *ngIf="variables.length && operator.name ==''" disabled [ngValue]="''" >Selecione a variável</option>
                    <option *ngFor="let v of variables" [ngValue]="v.value.name">{{v.value.name}}</option>
                    <option *ngIf="!variables.length" disabled [ngValue]="''">Ainda não existem variáveis criadas!
                    </option>
                </select>
                <span class="rigth">recebe</span>
            </div>

            <div *ngFor="let op of operators">
                <div class="col">
                    <select class="form-select" id="operator-op-{{op.index}}" *ngIf="op.type == ''" [(ngModel)]="op.type"
                        (change)="changeType(op.index)">
                        <option [ngValue]="''" selected>Selecione</option>
                        <option [ngValue]="'VARIABLE'">Variável</option>
                        <option [ngValue]="'VALUE'">Valor</option>
                    </select>

                </div>
                <div class="col">
                    <select id="operator-op-{{op.index}}" *ngIf="op.type == 'VARIABLE'" [(ngModel)]="op.value"
                        class="ml-2 form-select" (change)="changeValue(op.value)">
                        <option *ngIf="variables.length && op.value ==''" disabled [ngValue]="''">Selecione a variável</option>
                        <option *ngFor="let v of variables" [ngValue]="v.value.name">{{v.value.name}}</option>
                        <option *ngIf="!variables.length" disabled [ngValue]="''">Ainda não existem variáveis criadas!
                        </option>
                    </select>
                </div>

                <div class="col">
                    <input id="operator-op-{{op.index}}" *ngIf="op.type == 'VALUE'" [(ngModel)]="op.value" class="form-control"
                        (change)="changeValue(op.value)" type="text" placeholder="Digite o valor" />
                </div>

                <div class="col">
                    <select class="form-select" id="operator-op-{{op.index}}" *ngIf="op.type == 'OPERATOR'" [(ngModel)]="op.value"
                        (change)="changeValue(op.value)">
                        <option [ngValue]="''" disabled *ngIf="op.value == ''">Selecione a operação</option>
                        <option [ngValue]="'+'">+</option>
                        <option [ngValue]="'-'">-</option>
                        <option [ngValue]="'*'">*</option>
                        <option [ngValue]="'/'">/</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary more" *ngIf="operators.length" type="button" (click)="addOperator()"><strong>+</strong></button>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-transparent" (click)="toggleHidden()">
                <span *ngIf="isHidden" class="bi bi-unlock-fill" title="Visualizar código"></span>
                <span *ngIf="!isHidden" class="bi bi-lock-fill" title="Editar código"></span>
            </button>
            <button class="btn btn-transparent text-danger pr-2" (click)="removeOperator()"
                title="Excluir variável"><span aria-hidden="true">X</span></button>
        </div>
    </div>
</div>